<!DOCTYPE html>
<html lang="en">

<head>
  <% include ./partials/head.ejs %>
</head>

<body>

  <% include ./partials/navbar.ejs %>

  <main class="container text-center">




    <a href="/users/signup" class="btn btn-outline-dark btn-lg">Sign Up</a>


  </main>





  <% include ./partials/baseScripts.ejs %>
</body>

</html>