<!DOCTYPE html>
<html lang="en">

<head>
  <% include ./partials/head.ejs %>
</head>

<body>

  <% include ./partials/navbar.ejs %>

  <main class="container text-center">

    <% include ./partials/messages.ejs %>

    <header class="jumbotron my-4">
      <h1 class='display-3'>Welcome to Blocipedia</h1>
      <p class="lead">An application for users to create and share wikis.</p>
      <% if(!currentUser) { %>
      <a href="/users/signup" class="btn btn-outline-dark btn-lg">Sign Up</a>
      <% } %>
    </header>

    <section class="row">
      <section class="col-lg-4">
        <h4 class="card-title">
          <a href="/wikis/new" class="btn btn-outline-dark"> Create </a>
        </h4>
        <p class="card-text">Create your own personal wikipedia page</p>
      </section>

      <section class="col-lg-4">
        <h4 class="card-title">
          <a href="/wikis/" class="btn btn-outline-dark">Edit</a>
        </h4>
        <p class="card-text">Share your expertise with other users</p>
      </section>

      <section class="col-lg-4">
        <h4 class="card-title">
          <a href="/wikis/" class="btn btn-outline-dark">Read</a>
        </h4>
        <p class="card-text">Read wikis created by other users</p>
      </section>
    </section>


  </main>





  <% include ./partials/baseScripts.ejs %>
</body>

</html>